RewriteEngine On
ErrorDocument 404 /404.html
RewriteBase /

# XXX: Apache docs are unclear on mod_rewrite!
# Rewrite rules re-run in iterations up to 10 times until no 
# rewrite rule is matched or input and final URLs match. Thus the
# [L] flag doesn't push the URL to Apache, but merely exits the
# iteration!

# Remove Trailing Slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !404
RewriteRule ^(.*)/$ $1 [R=301]

# Remove .html from the URL
# Due to iterative nature, we must check against the original 
# unrewritten request. Also, the 404.html must be ignored.
RewriteCond %{THE_REQUEST} ^GET\ (.*)\.html\ HTTP
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !404
RewriteRule (.*)\.html$ $1 [R=301]

# Map vanity URLs without the '.html' to the underlying html file
RewriteCond %{REQUEST_URI} !/(static|img)/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !404
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirect old URLs
RewriteCond %{THE_REQUEST} ^GET\ /?about/dlr-tour/?\ HTTP
RewriteRule ^(.*)$ /tour [R=301]
RewriteCond %{THE_REQUEST} ^GET\ /?about/team/?\ HTTP
RewriteRule ^(.*)$ /about [R=301]
RewriteCond %{THE_REQUEST} ^GET\ /?about/advisors/?\ HTTP
RewriteRule ^(.*)$ /about [R=301]
RewriteCond %{THE_REQUEST} ^GET\ /?services/?\ HTTP
RewriteRule ^(.*)$ /pd [R=301]

# Redirect pages I created
RewriteCond %{THE_REQUEST} ^GET\ /?pd/?\ HTTP
RewriteRule ^(.*)$ /learning [R=301]

# TODO:
# /media/ -> TODO
# /media/gallery/ -> TODO
# /services/donate-to-educate/ -> TODO
# /media/press/ -> TODO
# /services/educational-applications/ -> TODO

