.IndexPage {
	header {
		background-image: 
			url('/static/img/headers/home_banner.png');
		z-index: 1;
		max-width: 100%;
		background-repeat: no-repeat;
		//background-attachment: fixed;
		background-size: cover;
		background-position: center center;

		#textbit {
			display: none; // TODO REMOVE ENTIRELY
		}
	}

	article#about {
		background-color: #fff;
		color: @wetAsphault;
		padding: 1.2em 1.5em 3.4em;
		font-size: 1.1em;
		h2{ 
			text-transform: none;
			padding-bottom: 0.6em;
		}
	}

	article#tour {
		@height: 560px;
		height: @height;
		height: 560px;
		overflow: hidden;
		position: relative;
		background-color: #fff;
		img#tourLogo {
			display: block;
			margin: auto;
		}
		img#busCutout {
			position: absolute;
			bottom: 0px;
			left: -80px;
			max-width: 750px;
		}
		.text {
			position: absolute;
			top: @height/2 - 50px;
			right: 0;
			max-width: 550px;
			padding: 0em 1.5em;
			text-size: 1.3em;
		}
	}

	#teacher {
		background-image: 
			url('/static/img/photo/teacher-dark-blur.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		color: @clouds;
		font-weight: bold;
		text-align: center;

		h1 {
			padding-top: 2.0em;
			font-size: 4.0em;
			font-weight: bold;
		}
	}

	article#watchvid {
		min-height: 200px;
		background-color: @orange;
		button { 
			background-color: @orange;
			border: 3px;
			color: #fff;
		}
		button:hover {
			border: 3px solid #fff;
		}
	}

	#sponsors {
		background-color: rgba(255, 255, 255, 0.93);
		text-align: center;
		padding: 10px;
		color: #999;
		img {
			padding: 15px;
		}
	}
}

