.TourPage {
	font-family: 'Bryant Alternate'; 
	header {
		/*background-image: 
			url('/static/img/header/bus2012.jpg');*/
		position: relative;
		div#maps {
			height: 600px;
		}
		div#stats {
			.border-box;
			.box-shadow;
			position: absolute;
			padding: 0.5em 1em;
			top: 0;
			left: 0;
			font-size: 1.5em;
			.number {
				font-weight: normal;
			}
			font-weight: lighter;
			width: 100%;
			color: @midnightBlue;
			background-color: #fff;
			ul {
				// Consider table display: 
				// http://stackoverflow.com/a/7985973
				.display-box;
				list-style: none;
				width: 100%;
				padding: 0;
				margin: 0;
				li {
					.box-flex;
					width: 0; // XXX: Fix for flexbox width render
					padding: 0 0.2em;
					margin: 0;
					text-align: center;
					p {
						padding: 0;
						margin: 0;
					}
				}
				li:last-child {
					width: 33%;
				}
			}
		}
		div#overlay {
			position: absolute;
			right: 1.0em;
			bottom: 1.0em;
		}
	}

	article#about {
		background-color: #fff;
		color: @midnightBlue;
		padding: 2.2em 1.5em 3.4em;
	}

	article#mobile {
		background-color: @silver;
		color: @midnightBlue;
	}
	article#schedule {
		min-height: 300px;
		background-color: @midnightBlue;
		button {
			background-color: #fff;
			color: darken(@silver, 25%);
		}
		button:hover {
			border: 3px solid @alizarin;
		}
	}
}

