.TourPage {
	font-family: 'Bryant Alternate'; 
	header {
		position: relative;
		div#maps {
			color: @midnightBlue;
			text-align: center;
			height: 500px;
			h2 {
				padding: 3em;
			}
		}
		div#stats {
			.border-box;
			.box-shadow;
			padding: 0.5em 1em;
			font-size: 1.5em;
			width: 100%;
			color: @midnightBlue;
			background-color: #fff;
			font-weight: lighter;
			.number {
				font-weight: normal;
			}
			table {
				width: 100%;
				padding: 0;
				margin: 0;
				border: 0;
				img.dlr-tour {
					vertical-align: middle;
					width: 300px;
					@media all and (max-width: 
						@tabletLandscape_andUnder) {
						width: 200px;
					}
					@media all and (max-width: 
						@phoneLandscape_andUnder) {
						width: 120px;
					}
				}
				td {
					height: 100%;
					padding: 0 0.2em;
					margin: 0;
					text-align: center;
					p {
						padding: 0;
						margin: 0;
					}
				}
			}
		}
	}

	article#about {
		padding: 2.2em 1.5em 3.4em;
		background-color: #fff;
		color: @midnightBlue;
	}

	/*article#mobile {
		background-color: @midnightBlue;
		background-image: 
			url('/static/img/blocks/mobile_classroom_experience_1300.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		height: 400px;
		width: 100%;
		display: table;
		div.wrap {
			padding: 3.4em 1.5em 3.4em;
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.8);
			h2 {
			}
		}
	}*/
	
	article#grid {
		.blue { background-color: @peterRiver; }
		.darkblue { 
			background-color: @belizeHole; 
			color: #fff;
		}
		.reallydarkblue { 
			background-color: darken(@belizeHole, 10%);
			color: #fff;
		}
		.black { background-color: #000; }
		.white { background-color: #fff; }

		background-color: #000;
		color: @clouds;

		table {
			@media all and (max-width: @phoneLandscape_andUnder) {
				font-size: 0.8em;
			}
			@media all and (max-width: @phonePortrait_andUnder) {
				font-size: 0.6em;
			}
			width: 100%;
			height: 100%;
			table-layout: fixed;
			overflow: hidden;
			td.one {
				width: 33.333%;
				overflow: hidden;
			}
			td.two {
				width: 66.666%;
				overflow: hidden;
			}
			td {
				background-size: 100% 100%;
				background-repeat: no-repeat;
				background-position: right top;
				//width: 33%;
				//height: 33%;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			#gridTextIntro {
				.darkblue;
			}
			#gridText1 {
				.blue;
			}
			#gridText2 {
				.reallydarkblue;
			}
			#gridText3 {
				.blue;
			}
			#gridText4 {
				.darkblue;
			}
			#gridImgLarge1 {
				background-image: 
					url('/static/img/grid/bus_driver_side_900.png');
			}
			#gridImgLarge2 {
				background-image: 
					url('/static/img/grid/toolkit_top_900.png');
			}
			#gridImgLarge3 {
				background-image: 
					url('/static/img/grid/students_reforming_900.png');
			}
			#gridImgSmall1 {
				.wrap {
					height: 100%;
					width: 100%;
					background-image: 
					 url('/static/img/grid/smiles_450.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					.wrap2 {
						height: 100%;
						width: 100%;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						background-image: url('/static/img/grid/mobile_toolkit_blur_450.png');
					}
				}
			}
			#gridImgSmall2 {
				//background-image: 
				//	url('/static/img/grid/smiles_450.png');
				.white;
			}
			#gridImgSmall3 {
				//background-image: 
				//	url('/static/img/grid/square_dlr_450.png');
				.white;
			}
			#gridImgSmall4 {
				.wrap {
					height: 100%;
					width: 100%;
					background-image: 
						 url('/static/img/grid/square_dlr_450.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					.wrap2 {
						height: 100%;
						width: 100%;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						background-image: 
						 url('/static/img/grid/table_point_450.png');
					}
				}

			}
			#gridImgSmall5 {
				background-image: 
					url('/static/img/grid/toolkit_bottom_450.png');
			}
		}
	}

	article#become {
		padding: 2.2em 1.5em 3.4em;
		background-color: @orange;
		color: #fff;
		h2 {
			cursor: pointer;
			font-weight: bold;
			text-transform: none;
			margin-bottom: 0.5em;
		}
		h2:hover {
			text-decoration: underline;
		}
		img#vectormap {
			cursor: pointer;
			width: 700px;
			@media all and (max-width:@tabletLandscape_andUnder) {
				width: 500px;
			}
			@media all and (max-width:@phoneLandscape_andUnder) {
				width: 300px;
			}
			display: block;
			margin: auto;
			margin-bottom: 1.5em;
		}
	}

	article#sponsors {
		padding: 2.2em 1.5em 3.4em;
		background-color: #fff;
		color: #111;
		h2 {
			text-transform: none;
			font-weight: lighter;
			margin-bottom: 0.5em;
		}
		table {
			border: 0;
			margin: 0;
			padding: 0;
			width: 100%;
		}
		table#bigLogos {
			td.logotd {
				vertical-align: middle;
				padding: 1.0em;
				width: 30%;
			}
			td.texttd {
				vertical-align: middle;
				padding: 2em;
				width: 70%;
			}

			img {
				width: 100%;
			}
		}
		table#smallLogos {
			td {
				vertical-align: middle;
				padding: 1.0em;
			}
			img {
				display: block;
				margin: auto;
				width: 300px;
				@media all and (max-width:
					@tabletLandscape_andUnder) {
					width: 200px;
				}
				@media all and (max-width:
					@phoneLandscape_andUnder) {
					width: 150px;
				}
			}
		}
	}
	#thanks {
		text-align: center;
		background-color: #fff;
		padding: 2.2em 1.5em 3.4em;
	}
}

