.TourPage {
	font-family: 'Bryant Alternate'; 
	header {
		/*background-image: 
			url('/static/img/header/bus2012.jpg');*/
		position: relative;
		div#maps {
			height: 600px;
		}
		div#stats {
			.border-box;
			.box-shadow;
			position: absolute;
			padding: 0.5em 1em;
			top: 0;
			left: 0;
			font-size: 1.5em;
			width: 100%;
			color: @midnightBlue;
			background-color: #fff;
			font-weight: lighter;
			.number {
				font-weight: normal;
			}
			table {
				width: 100%;
				padding: 0;
				margin: 0;
				border: 0;
				img.dlr-tour {
					vertical-align: middle;
					width: 300px;
					@media all and (max-width: @tabletLandscape_andUnder) {
						width: 200px;
					}
					@media all and (max-width: @smartphoneLandscape_andUnder) {
						width: 120px;
					}
				}
				td {
					height: 100%;
					padding: 0 0.2em;
					margin: 0;
					text-align: center;
					p {
						padding: 0;
						margin: 0;
					}
				}
			}
		}
	}

	article#about {
		padding: 2.2em 1.5em 3.4em;
		background-color: #fff;
		color: @midnightBlue;
	}

	article#mobile {
		padding: 2.2em 1.5em 3.4em;
		background-color: @silver;
		color: @midnightBlue;
	}

	article#become {
		padding: 2.2em 1.5em 3.4em;
		background-color: @orange;
		color: #fff;
		h2 {
			font-weight: bold;
			text-transform: none;
			margin-bottom: 0.5em;
		}
		img#vectormap {
			width: 700px;
			display: block;
			margin: auto;
			margin-bottom: 1.5em;
		}
	}

	article#schedule {
		min-height: 300px;
		background-color: @midnightBlue;
		button {
			background-color: #fff;
			color: darken(@silver, 25%);
		}
		button:hover {
			border: 3px solid @alizarin;
		}
	}

	article#sponsors {
		padding: 2.2em 1.5em 3.4em;
		background-color: #fff;
		color: #111;
		h2 {
			text-transform: none;
			font-weight: lighter;
			margin-bottom: 0.5em;
		}
	}
}

