/* ================================================================
						COMMON ELEMENTS
   ============================================================= */

.IndexPage header {
	background-image: 
		url('/static/img/header/hands_raised2.jpg');
}

.AboutPage header {
	background-image: 
		url('/static/img/travis-sife.jpg');
}

.TourPage header {
	background-image: 
		url('/static/img/header/bus2012.jpg');
	#logofont {
		background-color: lighten(@silver, 20%);
		color: darken(@midnightBlue, 10%);
	}
}

/* ================================================================
					PAGE-SPECIFIC ELEMENTS
   ============================================================= */

.IndexPage {
	#teacher {
		background-image: url('/static/img/photo/teacher-dark-blur.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		color: @clouds;
		font-weight: bold;
		text-align: center;

		h1 {
			padding-top: 2.0em;
			font-size: 4.0em;
			font-weight: bold;
		}
	}

	article#watchvid {
		min-height: 200px;
		text-align: center;
		background-color: @alizarin;
		button { 
			cursor: pointer;
			margin-top: 60px; // TODO FIXME
			display: table-cell;
			font-family: 'roboto slab'; 
			font-size: 3em;
			padding: 0.3em;
			background-color: #fff;
			border: 0px;
			color: darken(@silver, 40%);
			
		}
	}

	#sponsors {
		background-color: rgba(255, 255, 255, 0.93);
		text-align: center;
		padding: 10px;
		color: #999;
		img {
			padding: 15px;
		}
	}
}

.AboutPage {
	article#about {
		h2 { font-family: 'open sans'; }
		background-color: rgba(255, 255, 255, 0.93);
		overflow: hidden;
		img {
			background-clip: text;
			float: left;
			padding: 10px;
			max-width:100% !important;
			height: auto;
			display: block;
		}
	}
	article#team {
		h2 { font-family: 'krona one'; }
		font-family: 'arvo';
		background-color: rgba(0, 0, 0, 0.96);
		//background-color: lighten(rgba(10, 20, 80, 0.9), 10%);
		color: #fff;

		#staffPortraits {
			text-align: center;
			.pho {
				display: inline;
				position: relative;
				.name {
					font-size: 1.5em;
					position: absolute;
					left: 7px;
					bottom: 7px;
					font-weight: bold;
				}
			}
		}
	}
	article#board {
		h2 { font-family: 'roboto slab'; }
		font-family: 'lato';
		background-color: @alizarin;
		color: #fff;
	}
}
