
/* ============================================================= *\
 * SET UP RESPONSIVENESS BREAKPOINTS
 * ============================================================= */

/**
 * Smartphone Portrait
 */
@media all and (max-width: 479px) {
	body { font-size: 1.0em; }
	#photo { font-size: 0.55em; }
	#photo { 
		height: 350px; 
		background-image: url('/static/img/light_wool3.png');
		background-size: contain;
		background-position: center bottom;
	}
	#teacher {height: 330px;}
}

/**
 * Smartphone Landscape
 */
@media all and (min-width: 480px) and (max-width: 599px) {
	body { font-size: 0.95em; }
	#photo { font-size: 0.8em; }
	#photo { height: 520px; }
	#teacher {height: 330px;}
}

/**
 * Tablet Portrait
 */
@media all and (min-width: 600px) and (max-width: 768px) {
	body {
		color: #d00;
		font-size: 1.0em;
	}
	#photo { height: 500px; }
	#teacher {height: 330px;}
}

/**
 * Tablet Landscape
 */
@media all and (min-width: 769px) and (max-width: 1024px) {
	body {
		color: #00a;
		font-size: 1.2em;
	}
	#photo { height: 500px; }
}

/**
 * Desktop Regular
 */
@media all and (min-width: 1025px) and (max-width: 1280px) {
	body { font-size: 1.3em; }
	#photo .text { font-size: 1.3em; }
	#photo { height: 600px; }
}

/**
 * Desktop Huge
 */
@media all and (min-width: 1281px) {
	body { font-size: 1.35em; }
	#photo .text { font-size: 1.35em; }
	#photo { height: 700px; }
	#teacher { 
		height: 400px; 
		h1 { font-size: 3.0em; }
	}
}

