/* ============================================================= *\
 * 				SET UP RESPONSIVENESS BREAKPOINTS				 *
 * ============================================================= */

/**
 * Development notification of version.
 */

#dev-responsive-smartphone-portrait { display: none; }
#dev-responsive-smartphone-landscape { display: none; }
#dev-responsive-tablet-portrait { display: none; }
#dev-responsive-tablet-landscape { display: none; }
#dev-responsive-desktop-regular { display: none; }
#dev-responsive-desktop-huge { display: none; }

.debug-smartphone-portrait {
	#dev-responsive-smartphone-portrait { display: inline; }
}
.debug-smartphone-landscape {
	#dev-responsive-smartphone-landscape { display: inline; }
}
.debug-tablet-portrait {
	#dev-responsive-tablet-portrait { display: inline; }
}
.debug-tablet-landscape {
	#dev-responsive-tablet-landscape { display: inline; }
}
.debug-desktop-regular {
	#dev-responsive-desktop-regular { display: inline; }
}
.debug-desktop-huge {
	#dev-responsive-desktop-huge { display: inline; }
}

/**
 * Smartphone Portrait
 */
@media all and (max-width: 479px) {
	.debug-smartphone-portrait;
	body { font-size: 1.0em; }
	header { font-size: 0.55em; }
	header { 
		background-image: url('/static/img/light_wool3.png');
		background-size: contain;
		background-position: center bottom;
	}
	.IndexPage header { height: 350px; }
	.IndexPage #teacher {height: 330px;}
	.AboutPage img#floating-team { height: 150px !important; }
	.TourPage div#maps { height: 400px !important;}
}

/**
 * Smartphone Landscape
 */
@media all and (min-width: 480px) and (max-width: 599px) {
	.debug-smartphone-landscape;
	body { font-size: 0.95em; }
	header { font-size: 0.8em; }
	.IndexPage header { height: 520px; }
	.IndexPage #teacher {height: 330px;}
	.AboutPage img#floating-team { height: 175px !important; }
	.TourPage div#maps { height: 500px !important;}
}

/**
 * Tablet Portrait
 */
@media all and (min-width: 600px) and (max-width: 768px) {
	.debug-tablet-portrait;
	body {
		font-size: 1.0em;
	}
	.IndexPage header { height: 500px; }
	.IndexPage #teacher {height: 330px;}
	.AboutPage img#floating-team { height: 225px !important; }
	.TourPage div#maps { height: 500px !important;}
}

/**
 * Tablet Landscape
 */
@media all and (min-width: 769px) and (max-width: 1024px) {
	.debug-tablet-landscape;
	body {
		font-size: 1.2em;
	}
	nav a { padding: 0px 1.0em !important; }
	.IndexPage header { height: 500px; }
	.AboutPage img#floating-team { height: 260px !important; }
	.TourPage div#maps { height: 600px !important;}
}

/**
 * Desktop Regular
 */
@media all and (min-width: 1025px) and (max-width: 1280px) {
	.debug-desktop-regular;
	body { font-size: 1.3em; }
	header .text { font-size: 1.3em; }
	nav a { padding: 0px 1.2em !important; }
	.IndexPage header { height: 600px; }
	.TourPage div#maps { height: 600px !important;}
}

/**
 * Desktop Huge
 */
@media all and (min-width: 1281px) {
	.debug-desktop-huge;
	body { font-size: 1.35em; }
	header .text { font-size: 1.35em; }
	nav a { padding: 0px 1.5em !important; }
	.IndexPage header { height: 700px; }
	.IndexPage #teacher { 
		height: 400px; 
		h1 { font-size: 3.0em; }
	}
	.TourPage div#maps { height: 800px !important;}
	.AboutPage #about p { padding: 0.0em 7.0em 1.5em !important; }
}

