{% extends "BASE.html" %}

{% block title %}iSchool &mdash; About Page {% endblock %}

{% block pageClass %}AboutPage{% endblock %}

{% block extraBody %}
  <script type="text/javascript"
    src="/static/js/team.js?{{ cache_buster() }}"></script>
  <script type="text/javascript">
    $(function() {install_team(); }); 
   </script>
{% endblock %}

{% block topAttention %}
  <header>
    <span id="logofont">
      <span id="logo-s">i</span>School
      <img src="/static/img/isi-new-logo-orange.png" height="60">
    </span>
    <div id="textbit">
      <div id="textwrap">
        <p class="text">Imagine a Classroom</p>
        <p class="text">Without Walls</p>
      </div>
    </div>
    <div id="loader"><img src="/static/img/loader.gif"></div>
    <div id="player"></div>
  </header>
{% endblock topAttention %}

{% block body %}
<article id="about">
  <h2>History of the iSchool Initiative</h2>
  <img src="/static/img/people/travis.jpg" class="circular">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae accumsan justo. Sed tristique viverra nisl sed rutrum. Ut blandit varius urna sed euismod. Pellentesque id laoreet velit. Nullam eu lacus quis nulla venenatis fermentum. Vivamus ultricies nunc vitae ante tristique ornare. Ut euismod sodales nisi sed tempor. Nam in lacus nec ligula pellentesque fermentum. Duis sollicitudin accumsan orci, eget imperdiet diam ultricies id.</p>

  <p>Ut dictum eleifend placerat. Quisque gravida ligula vel lectus dictum condimentum. Ut ac est mi. Vestibulum velit turpis, luctus sagittis facilisis at, bibendum in mauris. In id adipiscing dolor. Quisque mauris erat, tincidunt in lobortis ac, sodales in quam. Nam sed volutpat ligula. Proin purus mi, lacinia ac viverra a, malesuada vitae diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam a feugiat diam.</p>
</article>

<article id="team">
  <h2>Meet Our Team</h2>
  
  <div id="staffPortraits">
    <div class="person">
      <img src="/static/img/people/michael.png" class="static">
      <img src="/static/img/people/michael.gif" class="animated">
      <div class="name">Michael</div>
      <div class="role">Does Stuff</div>
      <div class="about">
        <p>Michael does stuff. He does stuff very well. So well,
        in fact, that everyone is afraid of how well he does. It's
        scary. More scary than you'll ever know.</p>
      </div>
    </div>
    <div class="person">
      <img src="/static/img/people/nikola.png" class="static">
      <img src="/static/img/people/nikola.gif" class="animated">
      <div class="name">Nikola</div>
      <div class="role">&Uuml;ber Hipster</div>
      <div class="about">
        <p>Nikola, Nikola, Nikola. He gets business done. You ask
        him to do something, but before you even ask he hands you 
        a report with a list of requests he's already finished for
        the next two years.</P>
        <p>Oh? We're supposed to have a second paragraph here 
        describing Nikola? Sorry. Didn't finish writing it.</p>
      </div>
    </div>

    <div class="person">
      <img src="/static/img/people/michael.png" class="static">
      <img src="/static/img/people/michael.gif" class="animated">
      <div class="name">Travis</div>
      <div class="role">Something?</div>
    </div>


    <div class="person">
      <img src="/static/img/people/nikola.png" class="static">
      <img src="/static/img/people/nikola.gif" class="animated">
      <div class="name">Sunny</div>
      <div class="role">Being Sunny</div>
    </div>

    <div class="person">
      <img src="/static/img/people/michael.png" class="static">
      <img src="/static/img/people/michael.gif" class="animated">
      <div class="name">Arvin</div>
      <div class="role">Practical Joker</div>
    </div>

    <div class="person">
      <img src="/static/img/people/nikola.png" class="static">
      <img src="/static/img/people/nikola.gif" class="animated">
      <div class="name">Emily</div>
      <div class="role">Serious Business</div>
    </div>


    <div class="person">
      <img src="/static/img/people/michael.png" class="static">
      <img src="/static/img/people/michael.gif" class="animated">
      <div class="name">Brandon</div>
      <div class="role">Developer</div>
    </div>


    <div class="person">
      <img src="/static/img/people/nikola.png" class="static">
      <img src="/static/img/people/nikola.gif" class="animated">
      <div class="name">Ken</div>
      <div class="role">Sells U Stuff</div>
    </div>
  </div>
</article>

<article id="board">
  <h2>Board Members</h2>
  <img src="/static/img/people/gary-roberts.jpg" id="gary"> <p>Gary Benjamin Roberts is Professor of Management and Entrepreneurship in the College of Business Administration at Kennesaw State University¸ Marietta¸ Georgia.</p>

  <p>Dr. Roberts has served as a consultant for numerous organizations, including IBM¸ AT&amp;T¸ Siemens Allis¸ the U.S. Office of Personnel Management (OPM)¸ Department of the Army¸ First Railroad and Banking Company IBM of Canada IT&amp;T¸ Firestone¸ Crown Cork and Seal¸ The University of Tennessee¸ the Oak Ridge National Laboratory, and the Georgia Community Bankers Association. He served on the Board of Directors of the Marietta–Cobb Winter Shelter (The Extension) for nine years. Dr. Roberts has been a Sam Walton Free Enterprise Fellow since 1987. Dr. Roberts is Director of Information for the Corporate Governance Center in the Coles College of Business at Kennesaw State.</p>

  <p>A decorated Vietnam and Desert Storm Veteran¸ Roberts is a retired Lieutenant Colonel in the United States Army Reserve. He was awarded paratrooper wings¸ a ranger tab¸ the pathfinder badge¸ and the combat infantry badge during his time with the Army.</p>

  <p>Professional organizations of which Dr. Roberts is a member include: The Academy of Management¸ The Southern Management Association¸ and The International Council for Small Business. He does research primarily concerning strategic management¸ total quality issues¸ and entrepreneurship. He has a number of publications in the area of business policy¸ strategy in not–for–profit organizations¸ quality¸ management history¸ and small business. He received the Coles College of Business´ Distinguished Teaching Award in 1993 and the Coles College of Business´ Distinguished Service Award in 2000. In 2001 he was awarded the Graduate Program’s Distinguished Service Award¸ and in 2002 he received the University Distinguished Faculty Service Award. In 2010 he was named Sam Walton Free Enterprise Fellow of the year by Students in Free Enterprise (SIFE) out of more than 800 faculty advisors.</p>

</article>

{% endblock body %}
