{% extends "BASE.html" %}

{% block title %}iSchool &mdash; About Page {% endblock %}

{% block pageClass %}AboutPage{% endblock %}

{% block extraBody %}
  <script type="text/javascript"
    src="/static/js/team.js?{{ cache_buster() }}"></script>
  <script type="text/javascript">
    $(function() {install_team(); }); 
   </script>
{% endblock %}

{% block todo %}
<article id="todo" class="hidden">
  <h2>TODO / Remaining for this page:</h2>
  <ul>
    <li>Intro &mdash; text: confirm/rewrite, design, better background</li>
    <li>Staff &mdash; staff videos, design</li>
    <li>Board Members &mdash; photos, quotes, design, better flourish</li>
  </ul>
</article>
{% endblock todo %}

{% block header %}
  <header>
    <p>Organically founded by Travis Allen in late 2009, iSchool Initiative was formed to address the educational issues facing students nationwide.</p>

    <p>Since its inception, the iSchool Initiative team has expanded to 11 full-time team members and made appearances at many prestigious events worldwide, including a recent invitation to a White House Data Initiative. iSchool Initiative continues to support the movement for change in education as a leader of the Digital Learning Revolution.</p>
    <img src="/static/img/floating/team-optimized.png" id="floating-team">
  </header>
{% endblock header %}

{% block body %}
<article id="team">
  <h2>Meet Our Team</h2>
  
  <div id="staffPortraits">

    <div class="person inactive">
      <img src="/static/img/people/arvin-bushes.jpg" class="static">
      <img src="/static/img/people/arvin-bushes.gif" class="animated">
      <div class="name">Arvin</div>
      <div class="role">Awesome Possum</div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/michael.png" class="static">
      <img src="/static/img/people/michael.gif" class="animated">
      <div class="name">Michael</div>
      <div class="role">???</div>
      <div class="about">
        <p>Michael does stuff. He does stuff very well. So well,
        in fact, that everyone is afraid of how well he does. It's
        scary. More scary than you'll ever know.</p>
      </div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/brandon-car.jpg" class="static">
      <img src="/static/img/people/brandon-car.gif" class="animated">
      <div class="name">Brandon</div>
      <div class="role">Hacker</div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/nikola-zen.jpg" class="static">
      <img src="/static/img/people/nikola-zen.gif" class="animated">
      <div class="name">Nikola</div>
      <div class="role">&Uuml;ber Hipster</div>
      <div class="about">
        <p>Nikola, Nikola, Nikola. He gets business done. You ask
        him to do something, but before you even ask he hands you 
        a report with a list of requests he's already finished for
        the next two years.</P>
        <p>Oh? We're supposed to have a second paragraph here 
        describing Nikola? Sorry. Didn't finish writing it.</p>
      </div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/ken150.jpg" class="static">
      <img src="/static/img/people/ken150.gif" class="animated">
      <div class="name">Ken</div>
      <div class="role">Sells U Stuff</div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/slav-drawing.jpg" class="static">
      <img src="/static/img/people/slav-drawing.gif" class="animated">
      <div class="name">Slav</div>
      <div class="role">Artistic Genius</div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/animation-blank.png" class="static">
      <img src="/static/img/people/animation-blank.png" class="animated">
      <div class="name">Travis</div>
      <div class="role">On A Plane</div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/animation-blank.png" class="static">
      <img src="/static/img/people/animation-blank.png" class="animated">
      <div class="name">Sunny</div>
      <div class="role">Being Sunny</div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/animation-blank.png" class="static">
      <img src="/static/img/people/animation-blank.png" class="animated">
      <div class="name">Emily</div>
      <div class="role">Serious Business</div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/animation-blank.png" class="static">
      <img src="/static/img/people/animation-blank.png" class="animated">
      <div class="name">Tiffany</div>
      <div class="role">Secret Agent</div>
    </div>

    <div class="person inactive">
      <img src="/static/img/people/animation-blank.png" class="static">
      <img src="/static/img/people/animation-blank.png" class="animated">
      <div class="name">Will</div>
      <div class="role">He's That Guy</div>
    </div>

  </div>
</article>

<article id="board">
  <h2>Board Members and Advisors</h2>
  <ul>
    <li>
      <!--Viren Mayani-->
      <img src="/static/img/people/viren-square.png"
        class="photo">
      <p>&ldquo;iSchool Inititiave is all about bringing primary 
      education in alignment with the way-of-life for students
      today.&rdquo;</p>
      <img src="/static/img/flourish/flourish1_white.png"
        class="flourish">
    </li>
    <li>
      <img src="/static/img/people/gary-roberts-square.png"
        class="photo">
      <p>&ldquo;iSchool is one of the most important
      endevours in the history of selling things. These people 
      are going to change the world forever. And I think that's 
      great.&rdquo;</p>
      <img src="/static/img/flourish/flourish1_white.png"
        class="flourish">
    </li>
    <li>
      <img src="/static/img/people/gary-roberts-square.png"
        class="photo">
      <p>&ldquo;iSchool is one of the most important
      endevours in the history of selling things. These people 
      are going to change the world forever. And I think that's 
      great.&rdquo;</p>
      <img src="/static/img/flourish/flourish1_white.png"
        class="flourish">
    </li>
  </ul>
</article>

{% endblock body %}
