{% extends "BASE.html" %}

{% block title %}iSchool &mdash; PD Page {% endblock %}

{% block pageClass %}PdPage{% endblock %}

{% block topAttention %}
  <header>
    <span id="logofont">
      <span id="logo-s">i</span>School
      <img src="/static/img/isi-new-logo-orange.png" height="60">
    </span>
    <div id="textbit">
      <div id="textwrap">
        <p class="text">Imagine Some Stuff</p>
        <p class="text">You Can Do</p>
      </div>
    </div>
    <div id="player">
    </div>
  </header>
{% endblock topAttention %}

{% block body %}
<article id="intro">
  <h2>About our Professional Development</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut nisi odio, nec rutrum dolor. Quisque accumsan porta ligula nec vulputate. Fusce in erat tortor. Suspendisse ultrices interdum tortor eu rutrum. Sed sollicitudin metus eros, eu sodales justo. Phasellus et leo vitae elit adipiscing placerat tincidunt at diam. Quisque sed neque lacus. Suspendisse et elit purus, vel sollicitudin lacus. Cras vulputate quam ac lacus interdum porttitor. Nullam vulputate tellus sit amet dui egestas tempus. Nulla ut velit eget ligula molestie gravida. Nunc auctor pulvinar sem, id ornare risus vestibulum quis. Praesent sed enim aliquam nisl tempor commodo. Quisque malesuada scelerisque nulla, quis cursus felis sagittis vel.</p>

  <p>Nulla commodo varius pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla tincidunt auctor lacus, ac auctor lectus gravida sit amet. Donec pharetra placerat nisl, quis interdum est egestas eu. Praesent in laoreet lacus. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eget justo eros, sit amet ullamcorper sem. Nulla eu lectus ac tellus vulputate euismod. Nulla a erat vitae leo lobortis semper. Vivamus massa ante, placerat vitae tempor vitae, mattis quis eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst.</p>
</article>

<article id="types">
  <h2>Types of PD We Offer</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut nisi odio, nec rutrum dolor. Quisque accumsan porta ligula nec vulputate. Fusce in erat tortor. Suspendisse ultrices interdum tortor eu rutrum. Sed sollicitudin metus eros, eu sodales justo. Phasellus et leo vitae elit adipiscing placerat tincidunt at diam. Quisque sed neque lacus. Suspendisse et elit purus, vel sollicitudin lacus. Cras vulputate quam ac lacus interdum porttitor. Nullam vulputate tellus sit amet dui egestas tempus. Nulla ut velit eget ligula molestie gravida. Nunc auctor pulvinar sem, id ornare risus vestibulum quis. Praesent sed enim aliquam nisl tempor commodo. Quisque malesuada scelerisque nulla, quis cursus felis sagittis vel.</p>

  <p>Nulla commodo varius pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla tincidunt auctor lacus, ac auctor lectus gravida sit amet. Donec pharetra placerat nisl, quis interdum est egestas eu. Praesent in laoreet lacus. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eget justo eros, sit amet ullamcorper sem. Nulla eu lectus ac tellus vulputate euismod. Nulla a erat vitae leo lobortis semper. Vivamus massa ante, placerat vitae tempor vitae, mattis quis eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst.</p>
</article>

<article id="previous">
  <h2>Previous PD Sessions</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut nisi odio, nec rutrum dolor. Quisque accumsan porta ligula nec vulputate. Fusce in erat tortor. Suspendisse ultrices interdum tortor eu rutrum. Sed sollicitudin metus eros, eu sodales justo. Phasellus et leo vitae elit adipiscing placerat tincidunt at diam. Quisque sed neque lacus. Suspendisse et elit purus, vel sollicitudin lacus. Cras vulputate quam ac lacus interdum porttitor. Nullam vulputate tellus sit amet dui egestas tempus. Nulla ut velit eget ligula molestie gravida. Nunc auctor pulvinar sem, id ornare risus vestibulum quis. Praesent sed enim aliquam nisl tempor commodo. Quisque malesuada scelerisque nulla, quis cursus felis sagittis vel.</p>

  <p>Nulla commodo varius pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla tincidunt auctor lacus, ac auctor lectus gravida sit amet. Donec pharetra placerat nisl, quis interdum est egestas eu. Praesent in laoreet lacus. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eget justo eros, sit amet ullamcorper sem. Nulla eu lectus ac tellus vulputate euismod. Nulla a erat vitae leo lobortis semper. Vivamus massa ante, placerat vitae tempor vitae, mattis quis eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst.</p>
</article>

<article id="book">
  <button>Book Our PD!</button>
</article>

{% endblock body %}
