{% extends "BASE.html" %}
{% set pageName = 'PdPage' %}
{% set subtitle = 'Professional Development' %}

{% block header %}
  <header>
    <div class="textwrap">
      <h1>A New Perspective on Professional Development</h1>
    </div>
  </header>
{% endblock header %}


{% block body %}
  <article id="students">
    <h2>We Are Students</h2>
    <p>iSchool Initiative&lsquo;s professional development is unique in that it is taught by students, for educators. This new perspective offers a fresh, engaging workshop that is less about instruction, and more about an opportunity to have fun while you&lsquo;re learning. Our team members want to serve as guides to make you comfortable, curious, and excited. The goal is to show ways in which youth are already utilizing mobile technology to enhance their studies, so that educators can go back to class and meet their students on common ground.</p>
  </article>

  <article id="different">
    <h2>Our PD is Different</h2>
    <ul>
      <li>
        <img src="/static/img/icons/pd/pd-01.png">
        <h3>Personalized</h3>
        <p>Learning in its purest form should be focused on the individual inside of a flexible learning environment with multiple content delivery mediums for students and teachers alike.</p>
      </li>
      <li>
        <img src="/static/img/icons/pd/pd-02.png">
        <h3>Collaborative</h3>
        <p>Two or more learners capitalizing on one another&lsquo;s ideas, skills, and resources towards a common goal or problem can greatly enhance the learning process for all parties involved... including us.</p>
      </li>
      <li>
        <img src="/static/img/icons/pd/pd-03.png">
        <h3>Digital</h3>
        <p>One of the most productive forms of learning is the art of Find, Filter, and Apply. As mountains of new information becomes available at the touch of a button, the importance of this concept continues to grow.</p>
      </li>
    </ul>
  </article>

  <article id="imageblock" class="generalBlock">
    <p>Over the years, iSchool Initiative has worked with thousands of educators to bring you some of the most intuitive Professional Learning available. Technology has changed the game for us and we pride ourselves in sharing our way of thinking.</p>
  </article>

  <article id="keynotes">
    <h2>We Inspire</h2>
    
    <h3>Becoming a Mobile Learner</h3>
    <p>Embark upon a journey through the dawn of the information age with college student, Travis Allen. Experience the life of a true digital native who boldly refused to accept the status quo in the classroom. Learn how he uses his tablet, and only his tablet, in all of his courses. More importantly learn how you can be a part of a revolution for change in education.</p>

    <h3>The New Reality</h3>
    <p>On the horizon is world that we could never have been imagined even thirty years ago. We are quickly progressing toward a society where human capital, or the creative ingenuity unique to human beings, is becoming our greatest asset. Beginning with words of some of the great future thinkers of our time, Ken then asks, &ldquo;What implications do these have for education? Where will a teacher fit in?&rdquo; He goes on to discuss the amazing opportunities and foreboding pitfalls of a digital future, eventually leading to one stark conclusion: technology won&lsquo;t save us without teachers.</p>

    <h3>Mobile in Rural Areas</h3>
    <p>This keynote details the use of technology in rural education with a focus on tablet devices. We discuss how mobile is used both in and out of the classroom setting for the betterment of scholastic and personal endeavors. The keynote will also look into how schools are using these technologies and will reference evidence for the utility of mobile tech. The widespread use and implementation of these technologies is important for the future of our education system and integral to leveling the playing field.</p>

    <h3>Awakening Your Creative Genius</h3>
    <p>Awakening Your Creative Genius does exactly what the title suggests. It causes people to become aware of their own creative potential and understand how to harness it in education. This keynote takes creativity out of the confines of just art and music. Keep an open mind as this experience is not meant to teach the audience anything new, but rather to get people to see what they already know from a different perspective&mdash;causing a paradigm shift.</p>
  </article>

  <article id="book" class="buttonBlock">
    <button>Book Our PD!</button>
  </article>

  <article id="educate">
    <h2>We Educate</h2>
    <p>Our training is custom designed for teachers, administrators, and even students. Our courses are geared around personalized and collaborative learning, as well as digital technology that includes both hardware and software training.</p>
  </article>

  <!--<article>
    <h3>Personalized</h3>

    Open Source Textbooks
    BYOD
    Time Management
    Digital Citizenship
    Mobile Learning 1:1
    Taking Notes


    <h3>Collaborative</h3>

    Social Media
    Content Sharing
    Flipped Classroom
    Social Learning Platforms (LMS)
    Blended Learning

    <h3>Digital</h3>

    iPads
    Promethean ActivTablet
    Google Apps
    Prezi
    Android Tablets
    Mobile Device Management
    Apple Configurator

    See More...
  </article>-->

  <article id="testimonials">
    <h2>Testimonials</h2> 

    <p>Cory: &ldquo;The training that the experts at iSchool Initiative provided to our teachers and students was invaluable. iSchool Initiative&rsquo;s approach to training the students in the classroom with their teacher on the ﬁrst day of iPad use in the classroom was incredible. This training at implementation set the tone for the entire school year. The students immediately obtained the skills to navigate the iPad, how to take notes, how to use the Edmodo learning management system, and how to use content speciﬁc apps. I couldn&rsquo;t be happier with the iSchool Initiative team!&rdquo;</p>

    <p>Rushton Hurley: &ldquo;Travis talks to teachers as if he has been doing it for a decade - he is comfortable, funny, and loaded with insights on how mobile technologies can be of value in an educational setting. His session on iPads drew a packed house in a large auditorium, and people were buzzing about the ideas as they left.&rdquo;</p>

    <p>Viren Mayani: &ldquo;The mobile learning techniques that he suggests are a way-of-life for all young students &amp; teachers today. He is advising institutions to brace themselves for a new wave of teaching methodologies in a world where everything is going digital. Travis is exceptional with his presentation and simplifies everything to digest this revolutionary learning.&rdquo;</p>

    <p>Adam Bushman: &ldquo;I attended Travis&rsquo; presentation [&hellip;] and he had every teacher in the room eating out of his hands. His passion shows in everything that he does, and he has the smarts to back it up. I look forward to hearing another one of his presentations.&rdquo;</p>
  </article>

  <!--<article id="places">
    <h2>Places we&lsquo;ve been</h2>
    <p>(TODO)</p>
  </article>-->

{% endblock body %}
