{% extends "BASE.html" %}
{% set pageName = 'TourPage' %}
{% set subtitle = 'DLR Tour 2013' %}


{% block extraHead %}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAywYAfLDcvJj51_hA5_DuGzL7Vm7RyEz4&sensor=false"></script>
{% endblock %}


{% block extraBody %}
  <script src="/static/js/map.js{{ cache_buster() }}"></script>
  <script src="/static/js/counter.js{{ cache_buster() }}"></script>
  <script src="/static/js/form_tour.js{{ cache_buster() }}"></script>
  <script src="/static/js/grid.js{{ cache_buster() }}"></script>
  <script type="text/javascript">
     install_stats_fixed();
     install_form_tour();
     google.maps.event.addDomListener(window, 'load', initialize);
     install_counter(); 
     install_grid_anim();
   </script>
{% endblock %}


{% block header %}
<header>
  <div id="stats">
    <!-- This table is managed by counter javascript -->  
    <table>
      <tr>
        <td>
          <img src="/static/img/logos/dlr_tour_300.png" 
               class="dlr-tour">
        </td>
      </tr>
    </table>
  </div>
  <div id="maps">
    <h2>Google Maps is Loading...</h2>
  </div>
</header>
{% endblock header %}


{% block body %}
  <article id="about">
    <h2>Leading the Digital Learning Revolution</h2>
    <p>iSchool Initiative&rsquo;s grassroots movement to reform education takes to the road for its Second Annual Digital Learning Revolution (DLR) Tour. The DLR Tour is the culmination of our message to mobile learners and gives us the ability to affect the lives of students across the country. iSchool Initiative travels to a variety of schools, conferences, and communities to showcase its exciting vision of what a 21st century mobile learning classroom can be. Join us this year on a six-month long journey across the United States, which truly represents the &ldquo;Mobile Classroom Experience.&rdquo;</p>
  </article>

  <!-- 
  TODO: Cool feature: When the center of the image block 
  crosses the center of the browser, fade it into another image!
  -->
  <article id="grid">
    <table>

      <tr>
        <td id="gridTextIntro">
          <h3>The Mobile Classroom Experience</h3>
        </td>
        <td id="gridImgLarge1" colspan="2">
          <img src="/static/img/grid/blank_2x1.png">
        </td>
      </tr>

      <tr>
        <td id="gridImgSmall1">
          <div class="wrap"><div class="wrap2">
            <img src="/static/img/grid/blank.png">
          </div></div>
        </td>
        <td id="gridText1" colspan="2">
          <p>For the 2013 DLR Tour, iSchool Initiative is excited to announce the introduction of the Mobile Classroom Experience: a 38-foot bus outfitted with a complete mobile solution for schools.</p>
        </td>
      </tr>

      <tr>
        <td id="gridText2">
          <p>Paired with inspiring keynote presentations and workshops, this classroom-on-wheels demonstrates exactly how mobile technology integration can be accomplished.</p>
        </td>
        <td id="gridImgLarge2" colspan="2">
          <img src="/static/img/grid/blank_2x1.png">
        </td>
      </tr>

      <tr>
        <td id="gridImgSmall4">
          <div class="wrap"><div class="wrap2">
            <img src="/static/img/grid/blank.png">
          </div></div>
        </td>
        <td id="gridText4">
          <p>We have merged services from nine different companies into the mobile space with the purpose of giving students and educators the full experience of their potential future classroom. </p>
        </td>
        <td id="gridImgSmall5">
          <img src="/static/img/grid/blank.png">
        </td>
      </tr>

      <tr>
        <td id="gridText3">
          <p>Inside, you&rsquo;ll see how iSchool Initiative has unified an industry to make change an attainable reality.</p>
        </td>
        <td id="gridImgLarge3" colspan="2">
          <img src="/static/img/grid/blank_2x1.png">
        </td>
      </tr>

    </table>
  </article>

  <article id="become">
    <h2>Schedule a Tour Stop</h2>
    <img src="/static/img/icons/maps/vector_map_700.png" 
         id="vectormap">
    <p>Becoming an iSchool Initiative DLR Tour stop is an invaluable opportunity to enhance the knowledge and participation of your teachers, students, and community by offering a complete mobile solution for schools. This &ldquo;conference on wheels&rdquo; can be customized to your specific needs in order to fulfill your dream of a complete mobile learning environment.</p>
  </article>

  <article id="sponsors">
    <h2>Our sponsors aren&rsquo;t just sponsors,
        <br>they&rsquo;re partners in the cause.</h2>

    <!-- 
      OMG, return of 1999 webdesign.  
      But I'm in a crunch...
    -->
    <table id="bigLogos">
      <tr>
        <td class="logotd">
          <img src="/static/img/logos/tour_sponsors/promethean.png" class="logo">
        </td>
        <td class="texttd">
          <p>With its roots in education, Promethean has been empowering teachers for over 15 years. This past March, we joined forces with CEO Jim Marshall, SVP of Marketing Lupita Knittel, and other leaders to create an ambitious partnership. Promethean strongly believes that learning never ends. It was this love of lifelong learning, alongside their work to create connected learning systems with mobile devices and other classroom technology, that convinced us we have found a great match. We are grateful to have the experience, and dedicated support of Promethean throughout the 2013 DLR Tour.</p>
        </td>
      </tr>
      <tr>
        <td class="logotd">
          <img src="/static/img/logos/tour_sponsors/otterbox.png" class="logo">
        </td>
        <td class="texttd">
          <p>Otterbox is a purveyor of high-quality, durable cases for mobile devices. iSchool Initiative first collaborated with Otterbox during its 2012 DLR Tour. Stopping by the Otterbox headquarters in beautiful Fort Collins, Colorado, our team discovered a company that is truly dedicated to empowering youth and giving back to the community that fostered its growth. Working with Nancy Richardson (wife of founder Kurt Richardson) and her team at OtterCares, iSchool Initiative began a partnership tasked with protecting the mobile device investments schools are making across the country.</p>
        </td>
      </tr>
    </table>

    <table id="smallLogos">
      <tr>
        <td>
          <img src="/static/img/logos/tour_sponsors/isim.png">
        </td>
        <td>
          <img src="/static/img/logos/tour_sponsors/iste.png">
        </td>
      </tr>
      <tr>
        <td>
          <img src="/static/img/logos/tour_sponsors/airwatch.png">
        </td>
        <td>
          <img src="/static/img/logos/tour_sponsors/ksu.png">
        </td>
      </tr>
      <tr>
        <td>
          <img src="/static/img/logos/tour_sponsors/cres.png">
        </td>
        <td>
          <img src="/static/img/logos/tour_sponsors/haw.png">
        </td>
      </tr>
    </table>
  </article>
  <article id="thanks">
    <p>iSchool Initiative extends its gratitude to all of our sponsors who have made this endeavor possible.</p>
  </article>

{% endblock body %}
