{% extends "BASE.html" %}
{% block title %}iSchool &mdash; Tour Page {% endblock %}
{% block pageClass %}TourPage{% endblock %}


{% block extraHead %}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAywYAfLDcvJj51_hA5_DuGzL7Vm7RyEz4&sensor=false"></script>
{% endblock %}


{% block extraBody %}
  <script src="/static/js/map.js{{ cache_buster() }}"></script>
  <script src="/static/js/counter.js{{ cache_buster() }}"></script>
  <script type="text/javascript">
     google.maps.event.addDomListener(window, 'load', initialize);
     $(function() { install_counter() });
   </script>
{% endblock %}


{% block header %}
<header>
  <div id="maps">
    <h2>Google Maps is Loading...</h2>
  </div>
  <div id="stats"><ul></ul></div>
  <div id="overlay">
    <img src="/static/img/dlrtour-darker.png">
  </div>
</header>
{% endblock header %}


{% block body %}
  <article id="about">
    <h2>Leading the Digital Learning Revolution</h2>
    <p>For the second year in a row, iSchool Initiative's grassroots movement to reform education takes to the road. The culmination of what we preach as mobile learners, the DLR Tour gives us the ability to extend our reach and affect the lives of students across the country. iSchool Initiative is traveling to schools, conferences and communities to bring excitement around the idea of mobile learning, and showcase their vision of a what a 21st century classroom can be. Join us this year on a six-month long journey of the United States, where we are proud to showcase &ldquo;The Mobile Classroom Experience&rdquo;.</p>
  </article>

  <article id="mobile">
    <h2>The Mobile Classroom Experience</h2>
    <p>For 2013, we are excited to announce the introduction of the Mobile Classroom Experience: A 38-foot bus outfitted with a complete mobile solution for schools. As we get educators excited with keynote presentations and workshops, this classroom-on-wheels demonstrates exactly how it can be done. We have brought together the services of nine different companies in the mobile space with the purpose of letting people experience a future classroom. Inside, you&lsquo;ll see how iSchool Initiative&lsquo;s passion is unifying an entire industry to make change a reality.</p>
  </article>

  <article id="become">
    <h2>Become a Tour Stop</h2>
    <p>iSchool Initiative DLR Tour stops are an opportunity to enhance the knowledge and participation of your teachers, students, and community. Customize this conference on wheels to your specific needs to pursue your mobile dream.</p>
  </article>

  <article id="schedule" class="buttonBlock">
    <button>Schedule Your Stop!</button>
  </article>

  <article id="sponsors">
    <h2>Our sponsors aren&lsquo;t just sponsors, they&lsquo;re partners in the cause.</h2>

    <div id="otter">
      <h3>Otterbox</h3>
      <p>Otterbox is a purveyor of high quality, durable cases for mobile devices. We first encountered Otterbox on our 2012 DLR Tour. Stopping by their headquarters in beautiful Fort Collins, Colorado, we uncovered a company that is about far more than manufacturing cases. In truth, Otterbox cares deeply about empowering youth and giving back to the community that fostered its growth. Working with Nancy Richardson (wife of founder Kurt Richardson) and her team at Ottercares, iSchool Initiative has begun a partnership to protect the mobile device investments schools are making across the country.</p>
         </div>
    <div id="promethean">
      <h3>Promethean</h3>
      <p>With its roots in education, Promethean has been empowering teachers for over 15 years. Their company strongly believes that learning never ends; and it was this love of life-long learning that convinced us we had found a great match.</p>
    </div>
    <div id="other">
      <h3>Other Sponsors</h3>
      <ul>
        <li>1 section shared with ISTE and iSi Mobile</li>
        <li>1 Section on AirWatch and Kennesaw State University Coles College</li>
        <li>1 special thanks from creserance, Ha&amp;W and...</li>
      </ul>
    </div>
  </article>

{% endblock body %}
